core/actions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cms/core/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="actions" targetNamespace="http://cms/core/">
<wsdl:types>
<xsd:schema targetNamespace="http://cms/core/">
<xsd:element name="getVersion">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="in" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getVersionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="out" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
           
</xsd:schema>
</wsdl:types>
<wsdl:message name="getVersionRequest">
<wsdl:part element="tns:getVersion" name="parameters"/>
</wsdl:message>
<wsdl:message name="getVersionResponse">
<wsdl:part element="tns:getVersionResponse" name="parameters"/>
</wsdl:message>
    <wsdl:message name="NewOperation1Request">
    	<wsdl:part name="parameters" element="tns:NewOperation1"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NewOperation1Response">
    	<wsdl:part name="parameters" element="tns:NewOperation1Response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NewOperation1Response1">
    	<wsdl:part name="parameters" element="tns:NewOperation1Response1"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="actions">
<wsdl:operation name="getVersion">
<wsdl:input message="tns:getVersionRequest"/>
<wsdl:output message="tns:getVersionResponse"/>
</wsdl:operation>
    </wsdl:portType>
<wsdl:binding name="actionsSOAP" type="tns:actions">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getVersion">
<soap:operation soapAction="http://cms/core/NewOperation"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="actions">
<wsdl:port binding="tns:actionsSOAP" name="actionsSOAP">
<soap:address location="http://cms/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
